
.signup-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    font-family: system-ui;
}
h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#name-tag {
    font-size: 18px;
    font-family: system-ui;
}
.row-1 {
    display: flex;
    align-items: left;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 5px;
    margin-bottom: 25px;
}
.row-2 {
    display: flex;
    align-items: left;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 5px;
    margin-bottom: 25px;
}
.row-3 {
    display: flex;
    align-items: left;

    background: #edeef0;
    border-radius: 5px;
    margin-bottom: 25px;
}
.row-4 {
    display: flex;
    align-items: left;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 5px;
    margin-bottom: 25px; 
}
#input-name {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
#input-email {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
#input-age {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
#button {
    display: block;
    margin-left: 200px;
    margin-top: 50px;
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #45b5ff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
}
#input-password{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
#text-show {
    font-size: 10px;
}
#gender-tag {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.icon{
    justify-content: space-between;
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}
#user{
    display: flex;
    margin-top: 8px;
    color: grey;
    margin-left: 5px;
}
#mail{
    display: flex;
    margin-top: 8px;
    color: grey;
    margin-left: 5px;
}
#lock{
    display: flex;
    margin-top: 8px;
    color: grey;
    margin-left: 5px;
}



  
  /* On screens that are 992px or less*/
  @media screen and (max-width: 1600px) {
    .container {
        width: 100%;
        background: linear-gradient(135deg, #15773e, #4e085f );
        padding: 10px;
    }
  }
  
  /* On screens that are 600px or less */
  @media screen and (max-width: 680px) {
    .container {
        width: 100%;
        background: linear-gradient(135deg, #15773e, #4e085f );
        padding: 10px;
    }
    .signup-app {
        width: 100%;
        max-width: 250px;
        background: #fff;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
        font-family: system-ui;
    }
    #button {
        display: block;
        margin-left: 55px;
        margin-top: 50px;
        border: none;
        outline: none;
        padding: 16px 50px;
        background: #45b5ff;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    #gender-tag {
        font-size: 15px;
        padding: 0;
    }
   
    .icon{
        font-size: 10px;
        color: #002765;
       
    }
    #name-tag {
        font-size: 15px;
        font-family: system-ui;
    }
   
  }